# ============================================================
# PYTHON
# ============================================================

__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
.venv/
venv/
env/
.env/


# ============================================================
# VISUAL STUDIO CODE
# ============================================================

.vscode/


# ============================================================
# DATASETS
# ============================================================

# Ignorar datasets completos
data/**

# Mantener estructura de carpetas
!data/
!data/**/
!data/**/.gitkeep


# ============================================================
# YOLO / DEEP LEARNING
# ============================================================

# Pesos entrenados
*.pt
*.pth
*.onnx

# Resultados de entrenamiento
results/
runs/

# Checkpoints
checkpoints/


# ============================================================
# NOTEBOOKS
# ============================================================

.ipynb_checkpoints/


# ============================================================
# SISTEMA
# ============================================================

# Windows
Thumbs.db
desktop.ini

# Linux
*.swp
*.swo


# ============================================================
# LOGS
# ============================================================

*.log