# ============================================================
# PYTHON
# ============================================================

__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
.venv/
venv/
env/
.env/

# ============================================================
# VISUAL STUDIO CODE
# ============================================================

.vscode/

# ============================================================
# DATASETS
# ============================================================

# Ignorar el contenido de data
data/**

# Mantener la estructura de carpetas
!data/
!data/**/
!data/**/.gitkeep